.strava-black {
    color: #fff!important;
    background-color: #FE0C0B!important;
}
.strava-black:hover {
    color: #fff!important;
    background-color: #C94100!important;
}
.strava-black a {
    color: #ffffff;
    text-decoration: underline;    
}
.strava-round-xxlarge {
    border-radius: 32px;
}
.strava-btn, .strava-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.strava-btn, .strava-button {
    border: none;
    /* display: inline-block; */
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(#FE0C0B, #ffffff);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    /* display: inline-block; */
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(#FE0C0B, #ffffff);
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(#C94100, #C94100);
    border-image: initial;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
